@model WebAPI.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Horaire.intervalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horaire.intervalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Joueur.NomEtPrenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Joueur.NomEtPrenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Terrain.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Terrain.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstConfirmer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstConfirmer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
